<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]>
<html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
    <!--<![endif]-->
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }}</title>
        <base href="{{ base }}"/>
        {% if description %}
            <meta name="description" content="{{ description }}"/>
        {% endif %}
        {% if keywords %}
            <meta name="keywords" content="{{ keywords }}"/>
        {% endif %}
        <link rel="icon" type="image/png" href="/catalog/view/theme/favicon.png">
<link href="https://fonts.googleapis.com/css?family=Charm|Marck+Script&display=swap" rel="stylesheet">
        <script src="/catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
        <script src="/catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/catalog/view/theme/OC3hog/js/jquery.flexslider-min.js" type="text/javascript"></script>
        <script src="/catalog/view/theme/OC3hog/js/owl.carousel.min.js"></script>
        <script src="/catalog/view/theme/OC3hog/js/menuzord.js"></script>
        <script src="/catalog/view/theme/OC3hog/js/jquery.easing.min.js"></script>
        <script src="/catalog/view/theme/OC3hog/js/jquery.stellar.min.js"></script>
        <script src="/catalog/view/theme/OC3hog/js/materialize.min.js"></script>
        <script src="/catalog/view/theme/OC3hog/js/animated-headline.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link href="/catalog/view/javascript/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen"/>
        <link href="/catalog/view/theme/OC3hog/stylesheets/flexslider.css" rel="stylesheet">
        <link href="/catalog/view/theme/OC3hog/stylesheets/owl.carousel.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="/catalog/view/theme/OC3hog/stylesheets/materialize-small-min.css" rel="stylesheet" media="screen"/>
        <link href="/catalog/view/theme/OC3hog/stylesheets/hogz.css" rel="stylesheet">
        <link href="/catalog/view/theme/OC3hog/stylesheets/animated-headline-min.css" rel="stylesheet">
        <link href="/catalog/view/theme/OC3hog/stylesheets/shortcodes/shortcodes.css" rel="stylesheet" media="screen"/>

        {% for style in styles %}
            <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}"/>
        {% endfor %}
        {% for script in scripts %}
            <script src="{{ script }}" type="text/javascript"></script>
        {% endfor %}
        <script src="/catalog/view/theme/OC3hog/js/common.js" type="text/javascript"></script>
        {% for link in links %}
            <link href="{{ link.href }}" rel="{{ link.rel }}"/>
        {% endfor %}
        {% for analytic in analytics %}
            {{ analytic }}
        {% endfor %}
    </head>
    <body>
        <div class="se-pre-con"></div>
        <div class="navbar1">
            <nav id="top">
                <div id="top-links" class="container">
                    <div class="row">
                        <div class="col-lg-2 col-md-3 col-sm-3 hidden-xs searchheader">{{ search }}

                            <ul id="mobile-social-icons" class="list-inline social-link pull-left visible-lg">
                                <li>
                                    <a href="https://www.facebook.com/kungfurufus">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/zom-b-food">
                                        <i class="fa fa-github"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/sassmaster">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://stackoverflow.com/users/6151058/adam?tab=profile">
                                        <i class="fa fa-stack-overflow"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="cartheader hidden-lg">{{ cart }}</div>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12">{{ menu }}
                            <div class="nav mt-50">
                                <ul class="list-inline my-dropdown">
                                    <li><a href="{{ contact }}"><i class="fa fa-phone"></i></a> <span
                                                class="hidden-xs hidden-sm hidden-md">{{ telephone }}</span></li>
                                    <li><a href="{{ account }}" title="{{ text_account }}"
                                           class="dropdown-toggle" data-toggle="dropdown"><i
                                                    class="fa fa-user"></i> <span
                                                    class="hidden-xs hidden-sm hidden-md">{{ text_account }}</span> <span
                                                    class="caret"></span></a>
                                        <ul class="dropdown-menu my-dropdown">
                                            {% if logged %}
                                                <li class="my-dropdown"><a href="{{ account }}">{{ text_account }}</a>
                                                </li>
                                                <li class="my-dropdown"><a href="{{ order }}">{{ text_order }}</a></li>
                                                {# <li><a href="{{ transaction }}">{{ text_transaction }}</a></li>#}
                                                <li class="my-dropdown"><a href="{{ download }}">{{ text_download }}</a>
                                                </li>
                                                <li class="my-dropdown"><a href="{{ logout }}">{{ text_logout }}</a>
                                                </li>
                                            {% else %}
                                                <li class="my-dropdown"><a href="{{ register }}">{{ text_register }}</a>
                                                </li>
                                                <li class="my-dropdown"><a href="{{ login }}">{{ text_login }}</a></li>
                                            {% endif %}
                                        </ul>
                                    </li>
                                    <li><a href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}"><i
                                                    class="fa fa-heart"></i> <span
                                                    class="hidden-xs hidden-sm hidden-md">{{ text_wishlist }}</span></a>
                                    </li>
                                    {# <li><a href="{{ shopping_cart }}" title="{{ text_shopping_cart }}"><i
                                                     class="fa fa-shopping-cart"></i> <span
                                                     class="hidden-xs hidden-sm hidden-md">{{ text_shopping_cart }}</span></a>
                                     </li>#}
                                    <li><a href="{{ checkout }}" title="{{ text_checkout }}"><i
                                                    class="fa fa-share"></i> <span
                                                    class="hidden-xs hidden-sm hidden-md">{{ text_checkout }}</span></a>
                                    </li>
                                    <li><a href="{{ contact }}" title="{{ text_contact }}"><i
                                                    class="fa fa-envelope"></i> <span
                                                    class="hidden-xs hidden-sm hidden-md">{{ text_contact }}</span></a>
                                    </li>
                                     <li>&nbsp;~</li>
                                       <li><a href="/index.php?route=information/information&information_id=4" title="About Us"><i
                                                    class="fa fa-moon-o"></i> <span
                                                    class="hidden-xs hidden-sm hidden-md">About House of Gao</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 cartheader visible-lg">{{ cart }}</div>
                    </div>
                </div>
            </nav>
        </div>
        <header>
            <div class="container pad-top">
                <div class="row">
                    <div class="col-lg-4 col-md-3 hidden-sm hidden-xs">
                        <img
                                src="/image/catalog/hog-images/credit-cards.png"
                                class="img-responsive"/>
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <div id="logo">
                            {% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}"
                                                                   alt="{{ name }}" class="img-responsive"/>
                                </a>{% else %}
                                <h1><a href="{{ home }}">{{ name }}</a></h1>
                            {% endif %}</div>
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <div class="nav pull-right">
                            <ul class="list-inline">
                                <li class="hidden-xs"><img
                                            src="/image/catalog/hog-images/sale-header-small.png"
                                            class="img-responsive"/>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
