<footer>
    <div class="footer">
        <div class="container">
            {% if informations %}
                <div class="col-sm-3">
                    <h5><i class="material-icons">info_outline</i> {{ text_information }}</h5>
                    <ul class="list-unstyled">
                        {% for information in informations %}
                            <li><a href="{{ information.href }}">{{ information.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div class="col-sm-3">
                <h5><i class="material-icons">help_outline</i> {{ text_service }}</h5>
                <ul class="list-unstyled">
                    <li><a href="{{ contact }}">{{ text_contact }}</a></li>
                    <li><a href="{{ return }}">{{ text_return }}</a></li>
                    <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5><i class='material-icons'>card_giftcard</i> {{ text_extra }}</h5>
                <ul class="list-unstyled">
                    <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
                    <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
                    <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
                    <li><a href="{{ special }}">{{ text_special }}</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5><i class='material-icons'>account_circle</i> {{ text_account }}</h5>
                <ul class="list-unstyled">
                    <li><a href="{{ account }}">{{ text_account }}</a></li>
                    <li><a href="{{ order }}">{{ text_order }}</a></li>
                    <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
                    <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
                </ul>
            </div>
        </div>
        <div class="row">

            <div class="pull-right">
                <ul id="mobile-social-icons" class="list-inline social-link">
                    <li>
                        <a class="hvr-float" href="https://www.linkedin.com/in/sassmaster">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a class="hvr-float" href="https://github.com/zom-b-food">
                            <i class="fa fa-github"></i>
                        </a>
                    </li>
                    <li>
                        <a class="hvr-float"
                           href="https://stackoverflow.com/users/6151058/adam?tab=profile">
                            <i class="fa fa-stack-overflow"></i>
                        </a>
                    </li>
                    <li>
                        <a class="hvr-float" href="https://www.facebook.com/kungfurufus">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                </ul>
            </div>
             <p class="text-center" style="background-color:transparent;width:20%;padding-top:20px;margin:0 auto;">
							{# <script language="JavaScript">var fhsh = document.createElement('script'); #}
								{# var fhs_id_h = "3339711"; #}
								{# fhsh.src = "//freehostedscripts.net/ocount.php?site=" + fhs_id_h + "&a=1"; #}
								{# document.head.appendChild(fhsh); #}
								{# document.write("logid=pathos: <span id='h_" + fhs_id_h + "'></span>.091319"); #}
							{# </script> #}
					</p>
        </div>
    </div>
</footer>
{% for script in scripts %}
    <script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</body></html>