<style type="text/css">
    #kenburning {
        display: none;
    }
</style>
<link href="/catalog/view/theme/OC3pathos/stylesheets/kenburning.css" rel="stylesheet" type="text/css"/>
<div id="kenburning">
    <img src="/image/catalog/pathos-images/s1.jpg" title="slider 1"/>
    <img src="/image/catalog/pathos-images/s4.jpg" title="slider 4"/>
    <img src="/image/catalog/pathos-images/s3.jpg" title="slider 3"/>
    <img src="/image/catalog/pathos-images/s2.jpg" title="slider 2"/>
</div>
<header class="home"/>
{{ header }}
</header>
<hr/>
<section class="we-bg">
    <h3 class="tt-headline letters scale">
        <!-- you can use "rotate-1", "letters type", "letters rotate-2", "letters rotate-3", "letters scale", "loading-bar", "slide", "clip is-full-width", "push" -->
        <span>We're </span>
                            <span class="tt-words-wrapper">
                                <b class="is-visible">Modular</b>
                                <b>Flexible</b>
                                <b>Responsive</b>
                            </span>
    </h3>
    <span class="tt-sub-intro">ui-design-engineering.com</span>
    <a href="#" class="btn btn-lg">More Info...</a>
</section>
<hr/>
<div class="container">
    <div class="owl-carousel owl-theme">
        <div class="item"><img src="/image/catalog/pathos-images/bc-start.png" class="img-responsive"></div>
        <div class="item"><img src="/image/catalog/pathos-images/bc-birds.png" class="img-responsive"></div>
        <div class="item"><img src="/image/catalog/pathos-images/bc-split.png" class="img-responsive"></div>
        <div class="item"><img src="/image/catalog/pathos-images/bc-long.png" class="img-responsive"></div>
        <div class="item"><img src="/image/catalog/pathos-images/bc-birds.png" class="img-responsive"></div>
        <div class="item"><img src="/image/catalog/pathos-images/bc-split.png" class="img-responsive"></div>
        <div class="item"><img src="/image/catalog/pathos-images/bc-finish-code.png" class="img-responsive"></div>
    </div>
</div>
<p>&nbsp;</p>
<div class="home-body">
    <hr/>
    <div class="col-lg-12 col-md-12">
        <div class="wrapper">
            {{ column_left }}
            <div id="content-12" class="col-lg-6 col-md-6">
                {{ content_top }} 
            </div>
            {{ column_right }}
        </div>
    </div>
    <hr/>
    <div class="full-width promo-box promo-parallax one mb-50">
        <section data-aos="fade-up">
            <div class="aos-item__inner">
                <div class="text-center mb-50">
                    <h3 class="module">HTML Content Module - Parallax Text Block Carousel</h3>
                </div>
                <div class="featured-carousel brand-dot">
                    <div class="featured-item border-box radius-4 hover brand-hover">
                        <div class="icon mb-30">
                            <i class="material-icons brand-icon"></i>
                        </div>
                        <div class="desc">
                            <h2>Consulting</h2>

                            <p>Porttitor communicate pandemic data rather than enabled niche pandemic data rather
                                markets neque pulvinar vitae.</p>
                        </div>
                    </div>
                    <!-- /.featured-item -->
                    <div class="featured-item border-box radius-4 hover brand-hover">
                        <div class="icon mb-30">
                            <i class="material-icons brand-icon"></i>
                        </div>
                        <div class="desc">
                            <h2>Travel</h2>

                            <p>Porttitor communicate pandemic data rather than enabled niche pandemic data rather
                                markets neque pulvinar vitae.</p>
                        </div>
                    </div>
                    <!-- /.featured-item -->
                    <div class="featured-item border-box radius-4 hover brand-hover">
                        <div class="icon mb-30">
                            <i class="material-icons brand-icon"></i>
                        </div>
                        <div class="desc">
                            <h2>Cases</h2>

                            <p>Porttitor communicate pandemic data rather than enabled niche pandemic data rather
                                markets neque pulvinar vitae.</p>
                        </div>
                    </div>
                    <!-- /.featured-item -->
                    <div class="featured-item border-box radius-4 hover brand-hover">
                        <div class="icon mb-30">
                            <i class="material-icons brand-icon"></i>
                        </div>
                        <div class="desc">
                            <h2>Trading</h2>

                            <p>Porttitor communicate pandemic data rather than enabled niche pandemic data rather
                                markets neque pulvinar vitae.</p>
                        </div>
                    </div>
                    <!-- /.featured-item -->
                    <div class="featured-item border-box radius-4 hover brand-hover">
                        <div class="icon mb-30">
                            <i class="material-icons brand-icon"></i>
                        </div>
                        <div class="desc">
                            <h2>Strategies</h2>

                            <p>Porttitor communicate pandemic data rather than enabled niche pandemic data rather
                                markets neque pulvinar vitae.</p>
                        </div>
                    </div>
                    <!-- /.featured-item -->
                    <div class="featured-item border-box radius-4 hover brand-hover">
                        <div class="icon mb-30">
                            <i class="material-icons brand-icon"></i>
                        </div>
                        <div class="desc">
                            <h2>Solutions</h2>

                            <p>Porttitor communicate pandemic data rather than enabled niche pandemic data rather
                                markets neque pulvinar vitae.</p>
                        </div>
                    </div>
                    <!-- /.featured-item -->
                </div>
            </div>
        </section>
    </div>
    <hr/>
    <div class="container">
        {{ content_bottom }}
    </div>
    <div class="full-width promo-box promo-parallax three mb-50">
        <section class="aos-item" data-aos="fade-up">
            <div class="aos-item__inner">
                <div class="text-center mb-80">
                    <h3 class="module">HTML Content Module - Parallax Testimonials</h3>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="thumb-carousel circle-thumb text-center">
                            <ul class="slides">
                                <li data-thumb="/image/catalog/pathos-images/speaker-1.jpg">
                                    <div class="icon">
                                        <img src="/image/catalog/pathos-images/quote-light.png"
                                             alt="Customer Thumb">
                                    </div>
                                    <div class="bg">
                                        <p>Quam adipiscing vestibulum feugiat lacus leo a eget leo convallis sagittis
                                            nisi
                                            varius eros a imperdiet.Dui elementum ut a vestibulum eu fames hendrerit
                                            class
                                            conubia consequat curae.</p>

                                        <div class="testimonial-meta brand-color">
                                            Jhon Doe,
                                            <span>User Interface Designer</span>
                                        </div>
                                    </div>
                                </li>
                                <li data-thumb="/image/catalog/pathos-images/speaker-2.jpg">
                                    <div class="icon">
                                        <img src="/image/catalog/pathos-images/quote-light.png"
                                             alt="Customer Thumb">
                                    </div>
                                    <div class="bg">
                                        <p>Quam adipiscing vestibulum feugiat lacus leo a eget leo convallis sagittis
                                            nisi
                                            varius eros a imperdiet.Dui elementum ut a vestibulum eu fames hendrerit
                                            class
                                            conubia consequat curae.</p>

                                        <div class="testimonial-meta brand-color">
                                            Elita Karim,
                                            <span>User Interface Designer</span>
                                        </div>
                                    </div>
                                </li>
                                <li data-thumb="/image/catalog/pathos-images/speaker-3.jpg">
                                    <div class="icon">
                                        <img src="/image/catalog/pathos-images/quote-light.png"
                                             alt="Customer Thumb">
                                    </div>
                                    <div class="bg">
                                        <p>Quam adipiscing vestibulum feugiat lacus leo a eget leo convallis sagittis
                                            nisi
                                            varius eros a imperdiet.Dui elementum ut a vestibulum eu fames hendrerit
                                            class
                                            conubia consequat curae.</p>

                                        <div class="testimonial-meta brand-color">
                                            Tomas Udoy,
                                            <span>User Interface Designer</span>
                                        </div>
                                    </div>
                                </li>
                                <li data-thumb="/image/catalog/pathos-images/speaker-4.jpg">
                                    <div class="icon">
                                        <img src="/image/catalog/pathos-images/quote-light.png"
                                             alt="Customer Thumb">
                                    </div>
                                    <div class="bg">
                                        <p>Quam adipiscing vestibulum feugiat lacus leo a eget leo convallis sagittis
                                            nisi
                                            varius eros a imperdiet.Dui elementum ut a vestibulum eu fames hendrerit
                                            class
                                            conubia consequat curae.</p>

                                        <div class="testimonial-meta brand-color">
                                            Jonathon Bin,
                                            <span>User Interface Designer</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
    </div>
    <br/>
</div>

{{ footer }}


<script src="/catalog/view/theme/OC3pathos/js/kenburning.min.js" type="text/javascript"></script>
<script>
    setTimeout(function () {
        $("#kenburning").fadeIn("slow");
    }, 900);

    $("#kenburning").kenBurning({
        zoom: 1.3,
        time: 7000
    });

    var owl = $('.owl-carousel');
    owl.owlCarousel({
        items: 5,
        loop: true,
        margin: 10,
        autoplay: true,
        autoplayTimeout: 3000,
        autoplayHoverPause: true
    });

    AOS.init({
        easing: 'ease-in-out-sine'
    });
</script>
