{{ header }}
<link rel="stylesheet" type="text/css" href="/catalog/view/theme/OC3ethos/revolution/css/settings.css">
<!-- start revolution slider 5.0 -->
<div class="mb-20">
    <section class="rev_slider_wrapper">
        <div class="rev_slider materialize-slider">
            <ul>
                <!-- slide 1 start -->
                <li data-transition="fade" data-slotamount="default" data-easein="Power4.easeInOut"
                    data-easeout="Power4.easeInOut" data-masterspeed="2000"
                    data-thumb="image/catalog/ethos-images/full_5.jpg" data-rotate="0"
                    data-fstransition="fade"
                    data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"
                    data-title="materialize Material" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="/image/catalog/ethos-images/full_5.jpg" class="img-responsive" alt=""
                         data-bgposition="center center"
                         data-bgfit="cover" data-bgrepeat="no-repeat" data-no-retina>
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption rev-heading text-extrabold white-text tp-resizeme"
                         data-x="['left','left','left','left']" data-hoffset="['30','30','30','30']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-150','-150','-150','-150']"
                         data-fontsize="['60','60','50','55']"
                         data-lineheight="['70','70','60','60']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:900;e:Power4.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 5; white-space: nowrap;">Lorum Ipsum
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption tp-resizeme rev-subheading white-text"
                         data-x="['left','left','left','left']" data-hoffset="['30','30','30','30']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-80','-80','-80','-80']"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:900;e:Power4.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                         data-start="1200"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 5; white-space: nowrap;">Dolor sit amet, consectetur
                        adipisicing elit, sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua.
                    </div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption tp-resizeme rev-btn  rs-parallaxlevel-0"
                         data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['70','70','70','70']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-style_hover="cursor:default;"
                         data-transform_in="y:50px;opacity:0;s:900;e:Power4.easeInOut;"
                         data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_out="x:inherit;y:inherit;"
                         data-start="1400"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 8; white-space: nowrap;">
                        <a href="#" class="btn btn-lg">Explore More</a>
                    </div>
                </li>
                <!-- slide 1 end -->
                <!-- slide 2 start -->
                <li data-transition="fade" data-slotamount="default" data-easein="Power4.easeInOut"
                    data-easeout="Power4.easeInOut" data-masterspeed="2000"
                    data-thumb="image/catalog/ethos-images/full_4.jpg" data-rotate="0"
                    data-fstransition="fade"
                    data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"
                    data-title="materialize Material" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="/image/catalog/ethos-images/full_4.jpg" class="img-responsive" alt=""
                         data-bgposition="center center"
                         data-bgfit="cover" data-bgrepeat="no-repeat" data-no-retina>
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption rev-heading text-extrabold white-text tp-resizeme"
                         data-x="['left','left','left','left']" data-hoffset="['30','30','30','30']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-150','-150','-50','-50']"
                         data-fontsize="['60','60','50','55']"
                         data-lineheight="['70','70','60','60']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:900;e:Power4.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 5; white-space: nowrap;">Magna Aliqua
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption tp-resizeme rev-subheading white-text"
                         data-x="['left','left','left','left']" data-hoffset="['30','30','30','30']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-80','-80','10','10']"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:900;e:Power4.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                         data-start="1200"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 5; white-space: nowrap;">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit, sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua.
                    </div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption tp-resizeme rev-btn  rs-parallaxlevel-0"
                         data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['70','70','100','100']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-style_hover="cursor:default;"
                         data-transform_in="y:50px;opacity:0;s:900;e:Power4.easeInOut;"
                         data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_out="x:inherit;y:inherit;"
                         data-start="1400"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 8; white-space: nowrap;">
                        <a href="#" class="btn btn-lg">Explore More</a>
                    </div>
                </li>
                <!-- slide 2 end -->
                <!-- slide 3 start -->
                <li data-transition="fade" data-slotamount="default" data-easein="Power4.easeInOut"
                    data-easeout="Power4.easeInOut" data-masterspeed="2000"
                    data-thumb="image/catalog/ethos-images/full_3.jpg" data-rotate="0"
                    data-fstransition="fade"
                    data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"
                    data-title="materialize Material" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="/image/catalog/ethos-images/full_3.jpg" class="img-responsive" alt=""
                         data-bgposition="center center"
                         data-bgfit="cover" data-bgrepeat="no-repeat" data-no-retina>
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption rev-heading text-extrabold white-text tp-resizeme"
                         data-x="['left','left','left','left']" data-hoffset="['30','30','30','30']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-150','-150','-50','-50']"
                         data-fontsize="['60','60','50','55']"
                         data-lineheight="['70','70','60','60']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:900;e:Power4.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 5; white-space: nowrap;text-shadow:
		-1px -1px 0 #fff,
		1px -1px 0 #fff,
		-1px 1px 0 #fff,
		1px 1px 0 #fff;">Tempor Incididunt
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption tp-resizeme rev-subheading white-text"
                         data-x="['left','left','left','left']" data-hoffset="['30','30','30','30']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-80','-80','10','10']"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:900;e:Power4.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                         data-start="1200"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 5; white-space: nowrap;text-shadow:
		-1px -1px 0 #fff,
		1px -1px 0 #fff,
		-1px 1px 0 #fff,
		1px 1px 0 #fff;">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit, sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua.
                    </div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption tp-resizeme rev-btn  rs-parallaxlevel-0"
                         data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['70','70','100','100']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-style_hover="cursor:default;"
                         data-transform_in="y:50px;opacity:0;s:900;e:Power4.easeInOut;"
                         data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_out="x:inherit;y:inherit;"
                         data-start="1400"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 8; white-space: nowrap;">
                        <a href="#" class="btn btn-lg">Explore More</a>
                    </div>
                </li>
                <!-- slide 3 end -->
            </ul>
        </div>
        <!-- end revolution slider -->
    </section>
    <!-- end of slider wrapper -->
</div>
<script src="/catalog/view/theme/OC3ethos/revolution/js/menuzord.js"></script>
<!-- RS5.0 Core JS Files -->
<script src="/catalog/view/theme/OC3ethos/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="/catalog/view/theme/OC3ethos/revolution/js/jquery.themepunch.revolution.min.js"></script>
<!-- RS5.0 Init  -->
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery(".materialize-slider").revolution({
            sliderType: "standard",
            sliderLayout: "fullwidth",
            delay: 9000,
            navigation: {
                keyboardNavigation: "on",
                keyboard_direction: "horizontal",
                mouseScrollNavigation: "off",
                onHoverStop: "off",
                touch: {
                    touchenabled: "on",
                    swipe_threshold: 75,
                    swipe_min_touches: 1,
                    swipe_direction: "horizontal",
                    drag_block_vertical: false
                },
                arrows: {
                    style: "gyges",
                    enable: true,
                    hide_onmobile: false,
                    hide_onleave: true,
                    tmp: '',
                    left: {
                        h_align: "left",
                        v_align: "center",
                        h_offset: 10,
                        v_offset: 0
                    },
                    right: {
                        h_align: "right",
                        v_align: "center",
                        h_offset: 10,
                        v_offset: 0
                    }
                }
            },
            responsiveLevels: [1240, 1024, 768, 480],
            gridwidth: [1170, 1024, 768, 480],
            gridheight: [500, 500, 500, 500],
            disableProgressBar: "on",
            parallax: {
                type: "mouse",
                origo: "slidercenter",
                speed: 2000,
                levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50],
            }
        });
    });
</script>
<section class="we-bg">
    <h3 class="tt-headline letters scale">
        <!-- you can use "rotate-1", "letters type", "letters rotate-2", "letters rotate-3", "letters scale", "loading-bar", "slide", "clip is-full-width", "push" -->
        <span>We're </span>
                            <span class="tt-words-wrapper">
                                <b class="is-visible">Modular</b>
                                <b>Flexible</b>
                                <b>Responsive</b>
                            </span>
    </h3>
    <span class="tt-sub-intro">OC3-themes.com</span>
    <a href="#" class="btn btn-lg">More Info...</a>
</section>
<hr/>
<div class="container">
    <div class="owl-carousel owl-theme">
        <div class="item"><img src="/image/catalog/ethos-images/about1.png" class="img-responsive"></div>
        <div class="item"><img src="/image/catalog/ethos-images/support1.png" class="img-responsive"></div>
        <div class="item"><img src="/image/catalog/ethos-images/delivery1.png" class="img-responsive"></div>
        <div class="item"><img src="/image/catalog/ethos-images/wishlist1.png" class="img-responsive"></div>
        <div class="item"><img src="/image/catalog/ethos-images/sitemap1.png" class="img-responsive"></div>
        <div class="item"><img src="/image/catalog/ethos-images/contact1.png" class="img-responsive"></div>
    </div>
</div>
<hr/>
<div class="home-body">
    <div class="col-lg-12 col-md-12">
        <div class="">{{ column_left }}</div>
        <div id="content-12" class="col-lg-7 col-md-6">{{ content_top }}
            <p>&nbsp;</p>

            <div class="full-width promo-box promo-parallax one mb-50">
                <section data-aos="fade-up">
                    <div class="aos-item__inner">
                        <div class="text-center mb-50">
                            <h3 class="module">HTML Content Module - Parallax Text Block Carousel</h3>
                        </div>
                        <div class="featured-carousel brand-dot">
                            <div class="featured-item border-box radius-4 hover brand-hover">
                                <div class="icon mb-30">
                                    <i class="material-icons brand-icon"></i>
                                </div>
                                <div class="desc">
                                    <h2>Consulting</h2>

                                    <p>Porttitor communicate pandemic data rather than enabled niche pandemic data
                                        rather
                                        markets neque pulvinar vitae.</p>
                                </div>
                            </div>
                            <!-- /.featured-item -->
                            <div class="featured-item border-box radius-4 hover brand-hover">
                                <div class="icon mb-30">
                                    <i class="material-icons brand-icon"></i>
                                </div>
                                <div class="desc">
                                    <h2>Travel</h2>

                                    <p>Porttitor communicate pandemic data rather than enabled niche pandemic data
                                        rather
                                        markets neque pulvinar vitae.</p>
                                </div>
                            </div>
                            <!-- /.featured-item -->
                            <div class="featured-item border-box radius-4 hover brand-hover">
                                <div class="icon mb-30">
                                    <i class="material-icons brand-icon"></i>
                                </div>
                                <div class="desc">
                                    <h2>Cases</h2>

                                    <p>Porttitor communicate pandemic data rather than enabled niche pandemic data
                                        rather
                                        markets neque pulvinar vitae.</p>
                                </div>
                            </div>
                            <!-- /.featured-item -->
                            <div class="featured-item border-box radius-4 hover brand-hover">
                                <div class="icon mb-30">
                                    <i class="material-icons brand-icon"></i>
                                </div>
                                <div class="desc">
                                    <h2>Trading</h2>

                                    <p>Porttitor communicate pandemic data rather than enabled niche pandemic data
                                        rather
                                        markets neque pulvinar vitae.</p>
                                </div>
                            </div>
                            <!-- /.featured-item -->
                            <div class="featured-item border-box radius-4 hover brand-hover">
                                <div class="icon mb-30">
                                    <i class="material-icons brand-icon"></i>
                                </div>
                                <div class="desc">
                                    <h2>Strategies</h2>

                                    <p>Porttitor communicate pandemic data rather than enabled niche pandemic data
                                        rather
                                        markets neque pulvinar vitae.</p>
                                </div>
                            </div>
                            <!-- /.featured-item -->
                            <div class="featured-item border-box radius-4 hover brand-hover">
                                <div class="icon mb-30">
                                    <i class="material-icons brand-icon"></i>
                                </div>
                                <div class="desc">
                                    <h2>Solutions</h2>

                                    <p>Porttitor communicate pandemic data rather than enabled niche pandemic data
                                        rather
                                        markets neque pulvinar vitae.</p>
                                </div>
                            </div>
                            <!-- /.featured-item -->
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="">{{ column_right }}</div>
    </div>
</div>
<p>&nbsp;</p>
<div class="full-width promo-box promo-parallax one mb-50">
    <div class="container">
        {{ content_bottom }}
    </div>
</div>
<p>&nbsp;</p>
<div class="full-width promo-box promo-parallax three mb-50">
    <section class="aos-item" data-aos="fade-up">
        <div class="aos-item__inner">
            <div class="text-center mb-80">
                <h3 class="module">HTML Content Module - Parallax Testimonials</h3>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="thumb-carousel circle-thumb text-center">
                        <ul class="slides">
                            <li data-thumb="/image/catalog/ethos-images/speaker-1.jpg">
                                <div class="icon">
                                    <img src="/image/catalog/ethos-images/quote-violet.png"
                                         alt="Customer Thumb">
                                </div>
                                <div class="bg">
                                    <p>Quam adipiscing vestibulum feugiat lacus leo a eget leo convallis sagittis
                                        nisi
                                        varius eros a imperdiet.Dui elementum ut a vestibulum eu fames hendrerit
                                        class
                                        conubia consequat curae.</p>

                                    <div class="testimonial-meta brand-color">
                                        Jhon Doe,
                                        <span>User Interface Designer</span>
                                    </div>
                                </div>
                            </li>
                            <li data-thumb="/image/catalog/ethos-images/speaker-2.jpg">
                                <div class="icon">
                                    <img src="/image/catalog/ethos-images/quote-violet.png"
                                         alt="Customer Thumb">
                                </div>
                                <div class="bg">
                                    <p>Quam adipiscing vestibulum feugiat lacus leo a eget leo convallis sagittis
                                        nisi
                                        varius eros a imperdiet.Dui elementum ut a vestibulum eu fames hendrerit
                                        class
                                        conubia consequat curae.</p>

                                    <div class="testimonial-meta brand-color">
                                        Elita Karim,
                                        <span>User Interface Designer</span>
                                    </div>
                                </div>
                            </li>
                            <li data-thumb="/image/catalog/ethos-images/speaker-3.jpg">
                                <div class="icon">
                                    <img src="/image/catalog/ethos-images/quote-violet.png"
                                         alt="Customer Thumb">
                                </div>
                                <div class="bg">
                                    <p>Quam adipiscing vestibulum feugiat lacus leo a eget leo convallis sagittis
                                        nisi
                                        varius eros a imperdiet.Dui elementum ut a vestibulum eu fames hendrerit
                                        class
                                        conubia consequat curae.</p>

                                    <div class="testimonial-meta brand-color">
                                        Tomas Udoy,
                                        <span>User Interface Designer</span>
                                    </div>
                                </div>
                            </li>
                            <li data-thumb="/image/catalog/ethos-images/speaker-4.jpg">
                                <div class="icon">
                                    <img src="/image/catalog/ethos-images/quote-violet.png"
                                         alt="Customer Thumb">
                                </div>
                                <div class="bg">
                                    <p>Quam adipiscing vestibulum feugiat lacus leo a eget leo convallis sagittis
                                        nisi
                                        varius eros a imperdiet.Dui elementum ut a vestibulum eu fames hendrerit
                                        class
                                        conubia consequat curae.</p>

                                    <div class="testimonial-meta brand-color">
                                        Jonathon Bin,
                                        <span>User Interface Designer</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <br/>
</div>

{{ footer }}
<script>
    var owl = $('.owl-carousel');
    owl.owlCarousel({
        items: 5,
        loop: true,
        margin: 10,
        autoplay: true,
        autoplayTimeout: 3000,
        autoplayHoverPause: true
    });

    AOS.init({
        easing: 'ease-in-out-sine'
    });
</script>



